---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++17
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
ContinuationIndentWidth: 4
BreakBeforeBraces: Attach
NamespaceIndentation: None
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
SpacesBeforeTrailingComments: 2
SortIncludes: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
IndentCaseLabels: false
DerivePointerAlignment: false
